body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: white;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


.graphContainer {
  display: flex;
  align-items: flex-end;
  background-color: #f5f5f5;
  box-shadow: 0 0 30px #0000008c;
  border-radius: 0.7em;
  width: 90%;
  min-width: 35em;
  margin: 2em auto auto auto;
  overflow: hidden;
}

.graphBar {
  width: 0.5em;
  background-color: black;
  border: 1px solid white;
  border-radius: 0.1em;
}

.isActive {
  background: red;
}

.optionsContainer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.customDropdown {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  margin: 10px; /* demo only */
}

.customDropdown select {
  background-color: #ffffff00;
  color: rgb(0, 153, 255);
  border: 1px solid rgb(0, 153, 255);
  padding: 1em;
  margin: 0;
  width: 12em;
  height: 4em;
  border-radius: 0.7em;
  text-indent: 0.01px;
  text-overflow: '';
  -webkit-appearance: button; /* hide default arrow in chrome OSX */
}

.customDropdown::after {
  content: "";
  position: absolute;
  pointer-events: none;
}

.customDropdown select[disabled] {
  color: rgba(0,0,0,.3);
}

.customDropdown select[disabled]::after {
  color: rgba(0,0,0,.1);
}


button {
    padding: 1em;
    width: 6em;
    height: 4em;
    margin: 1em;
    border: 1px solid rgb(0, 153, 255);
    color: rgb(0, 153, 255);
    background-color: #ffffff00;
    border-radius: 0.7em;
    transition: all 0.25s;
}

button:hover {
    background-color: rgb(0, 153, 255);
    /* border-color: #ffffffff; */
    color: #ffffffff;
}

button:focus {
    outline: none;
}

.inputCont {
    margin: 0em 1em;
    height: 4em;
    padding: 0em 1em;
    width: 8em;
    border: 1px solid rgb(0, 153, 255);
    color: rgb(0, 153, 255);
    background-color: #ffffff00;
    border-radius: 0.7em;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin-right: 0;
}

.inputCont span {
    height: fit-content;
    margin-right: 1em;
}

.inputCont input {
    width: 4em;
}